<a href="https://colab.research.google.com/github/Sohitga014/econometrics-data-/blob/main/hp_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
hp=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Python docs/hp_ML.csv')
hp.sample()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
684,14-05-2014 00:00,267800.0,2,1.0,700,6000,1.0,0,0,4,700,0,1949,1985,16824 11th Pl NE,Shoreline,WA 98155,USA

In [ ]:
hp.shape

(4600, 18)

In [ ]:
hp.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [ ]:
to_drop=['date','street','statezip','country']
hp_d=hp.drop(to_drop,axis=1)

In [ ]:
hp_d.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city
0,313000.0,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,Shoreline
1,2384000.0,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,Seattle
2,342000.0,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,Kent
3,420000.0,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,Bellevue
4,550000.0,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,Redmond

In [ ]:
hp_d['house_age']=[2022-yr_built for yr_built in hp_d['yr_built']]

In [ ]:
hp_d['was_renovated'] = [1 if yr_renovated != 0 else 0 for yr_renovated in hp_d['yr_renovated']]
hp_d['was_renovated_10_yrs'] = [1 if (2022 - yr_renovated) <= 10 else 0 for yr_renovated in hp_d['yr_renovated']]
hp_d['was_renovated_30_yrs'] = [1 if 10 < (2022 - yr_renovated) <= 30 else 0 for yr_renovated in hp_d['yr_renovated']]

In [ ]:
hp_2d=hp_d.drop(['yr_built','yr_renovated'],axis=1)

In [ ]:
hp_2d.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,city,house_age,was_renovated,was_renovated_10_yrs,was_renovated_30_yrs
0,313000.0,3,1.50,1340,7912,1.5,0,0,3,1340,0,Shoreline,67,1,0,1
1,2384000.0,5,2.50,3650,9050,2.0,0,4,5,3370,280,Seattle,101,0,0,0
2,342000.0,3,2.00,1930,11947,1.0,0,0,4,1930,0,Kent,56,0,0,0
3,420000.0,3,2.25,2000,8030,1.0,0,0,4,1000,1000,Bellevue,59,0,0,0
4,550000.0,4,2.50,1940,10500,1.0,0,0,4,1140,800,Redmond,46,1,0,1

In [ ]:
hp_2d['city'].value_counts()

Seattle                1573
Renton                  293
Bellevue                286
Redmond                 235
Issaquah                187
Kirkland                187
Kent                    185
Auburn                  176
Sammamish               175
Federal Way             148
Shoreline               123
Woodinville             115
Maple Valley             96
Mercer Island            86
Burien                   74
Snoqualmie               71
Kenmore                  66
Des Moines               58
North Bend               50
Covington                43
Duvall                   42
Lake Forest Park         36
Bothell                  33
Newcastle                33
SeaTac                   29
Tukwila                  29
Vashon                   29
Enumclaw                 28
Carnation                22
Normandy Park            18
Clyde Hill               11
Medina                   11
Fall City                11
Black Diamond             9
Ravensdale                7
Pacific                   6
Algona                    5
Yarrow Point              4
Skykomish                 3
Preston                   2
Milton                    2
Inglewood-Finn Hill       1
Snoqualmie Pass           1
Beaux Arts Village        1
Name: city, dtype: int64

In [ ]:
def remap_location(data: pd.DataFrame, location: str, threshold: int = 50) -> str:
    if len(hp_2d[hp_2d['city'] == location]) < threshold:
        return 'Rare'
    return location

In [ ]:
remap_location(hp_2d,location='milton')

'Rare'

In [ ]:
remap_location(hp_2d,location='Seattle')

'Seattle'

In [ ]:
hp_2d['city'] = hp_2d['city'].apply(lambda x: remap_location(hp_2d, location=x))
hp_2d['city']

0       Shoreline
1         Seattle
2            Kent
3        Bellevue
4         Redmond
          ...
4595      Seattle
4596     Bellevue
4597       Renton
4598      Seattle
4599         Rare
Name: city, Length: 4600, dtype: object

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

transformer = make_column_transformer(
    (MinMaxScaler(), ['sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement', 'house_age']),
    (OneHotEncoder(handle_unknown='ignore'), ['bedrooms', 'bathrooms', 'floors', 'view', 'condition'])
)

In [ ]:
from sklearn.model_selection import train_test_split
X=hp_2d.drop('price',axis=1)
Y=hp_2d['price']

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,random_state=42)

In [ ]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((3680, 15), (920, 15), (3680,), (920,))

In [ ]:
# Fit on the train set
transformer.fit(X_train)

# Apply the transformation
X_train_tf = transformer.transform(X_train)
X_test_tf = transformer.transform(X_test)

In [ ]:
X_train_tf.shape, X_test_tf.shape

((3680, 55), (920, 55))

In [ ]:
X_train_tf

<3680x55 sparse matrix of type '<class 'numpy.float64'>'
	with 34559 stored elements in Compressed Sparse Row format>

In [ ]:
X_train_tf.toarray()

array([[0.24819028, 0.04180033, 0.31372549, ..., 0.        , 1.        ,
        0.        ],
       [0.34643226, 0.02645821, 0.4379085 , ..., 1.        , 0.        ,
        0.        ],
       [0.25232678, 0.00976359, 0.31895425, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.08066184, 0.00699249, 0.08104575, ..., 0.        , 1.        ,
        0.        ],
       [0.05584281, 0.00127052, 0.07058824, ..., 1.        , 0.        ,
        0.        ],
       [0.11582213, 0.00296857, 0.06405229, ..., 1.        , 0.        ,
        0.        ]])

In [ ]:
X_train_tf_2A=X_train_tf.toarray()
X_test_tf_2A=X_test_tf.toarray()

In [ ]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import backend as K

In [ ]:
def rmse(Y_true,Y_pred):
  return K.sqrt(K.mean(K.square(Y_pred-Y_true)))

In [ ]:
tf.random.set_seed(42)

model = Sequential([
    Dense(256, activation='relu'),
    Dense(256, activation='relu'),
    Dense(128, activation='relu'),
    Dense(1)
])

model.compile(
    loss=rmse,
    optimizer=Adam(),
    metrics=[rmse]
)

model.fit(X_train_tf_2A, Y_train, epochs=100)

Epoch 1/100
115/115 [==============================] - 3s 2ms/step - loss: 645256.4375 - rmse: 645256.4375
Epoch 2/100
115/115 [==============================] - 0s 2ms/step - loss: 472775.9375 - rmse: 472775.9375
Epoch 3/100
115/115 [==============================] - 0s 2ms/step - loss: 320366.5000 - rmse: 320366.5000
Epoch 4/100
115/115 [==============================] - 0s 2ms/step - loss: 302853.2812 - rmse: 302853.2812
Epoch 5/100
115/115 [==============================] - 0s 2ms/step - loss: 289253.3125 - rmse: 289253.3125
Epoch 6/100
115/115 [==============================] - 0s 2ms/step - loss: 283768.6875 - rmse: 283768.6875
Epoch 7/100
115/115 [==============================] - 0s 2ms/step - loss: 276237.8750 - rmse: 276237.8750
Epoch 8/100
115/115 [==============================] - 0s 2ms/step - loss: 269233.0000 - rmse: 269233.0000
Epoch 9/100
115/115 [==============================] - 0s 2ms/step - loss: 267987.9062 - rmse: 267987.9062
Epoch 10/100
115/115 [==============================] - 0s 2ms/step - loss: 263329.0000 - rmse: 263329.0000
Epoch 11/100
115/115 [==============================] - 0s 2ms/step - loss: 261456.9375 - rmse: 261456.9375
Epoch 12/100
115/115 [==============================] - 0s 2ms/step - loss: 256144.6094 - rmse: 256144.6094
Epoch 13/100
115/115 [==============================] - 0s 2ms/step - loss: 255904.7500 - rmse: 255904.7500
Epoch 14/100
115/115 [==============================] - 0s 2ms/step - loss: 255290.2500 - rmse: 255290.2500
Epoch 15/100
115/115 [==============================] - 0s 2ms/step - loss: 255321.8125 - rmse: 255321.8125
Epoch 16/100
115/115 [==============================] - 0s 2ms/step - loss: 254979.0469 - rmse: 254979.0469
Epoch 17/100
115/115 [==============================] - 0s 2ms/step - loss: 251212.6094 - rmse: 251212.6094
Epoch 18/100
115/115 [==============================] - 0s 2ms/step - loss: 249742.0625 - rmse: 249742.0625
Epoch 19/100
115/115 [==============================] - 0s 2ms/step - loss: 249308.9219 - rmse: 249308.9219
Epoch 20/100
115/115 [==============================] - 0s 2ms/step - loss: 247875.7344 - rmse: 247875.7344
Epoch 21/100
115/115 [==============================] - 0s 2ms/step - loss: 246876.3125 - rmse: 246876.3125
Epoch 22/100
115/115 [==============================] - 0s 2ms/step - loss: 243672.3125 - rmse: 243672.3125
Epoch 23/100
115/115 [==============================] - 0s 2ms/step - loss: 246428.0156 - rmse: 246428.0156
Epoch 24/100
115/115 [==============================] - 0s 2ms/step - loss: 243619.2031 - rmse: 243619.2031
Epoch 25/100
115/115 [==============================] - 0s 2ms/step - loss: 245959.9062 - rmse: 245959.9062
Epoch 26/100
115/115 [==============================] - 0s 2ms/step - loss: 242571.2812 - rmse: 242571.2812
Epoch 27/100
115/115 [==============================] - 0s 2ms/step - loss: 243738.9844 - rmse: 243738.9844
Epoch 28/100
115/115 [==============================] - 0s 2ms/step - loss: 242777.4375 - rmse: 242777.4375
Epoch 29/100
115/115 [==============================] - 0s 2ms/step - loss: 240086.7188 - rmse: 240086.7188
Epoch 30/100
115/115 [==============================] - 0s 2ms/step - loss: 239665.7188 - rmse: 239665.7188
Epoch 31/100
115/115 [==============================] - 0s 2ms/step - loss: 241850.5156 - rmse: 241850.5156
Epoch 32/100
115/115 [==============================] - 0s 2ms/step - loss: 238661.2031 - rmse: 238661.2031
Epoch 33/100
115/115 [==============================] - 0s 2ms/step - loss: 238372.9062 - rmse: 238372.9062
Epoch 34/100
115/115 [==============================] - 0s 2ms/step - loss: 238709.2031 - rmse: 238709.2031
Epoch 35/100
115/115 [==============================] - 0s 2ms/step - loss: 238917.6406 - rmse: 238917.6406
Epoch 36/100
115/115 [==============================] - 0s 2ms/step - loss: 238828.2812 - rmse: 238828.2812
Epoch 37/100
115/115 [==============================] - 0s 2ms/step - loss: 234227.5469 - rmse: 234227.5469
Epoch 38/100
115/115 [==============================] - 0s 2ms/step - loss: 237662.4219 - rmse: 237662.4219
Epoch 39/100
115/115 [==============================] - 0s 2ms/step - loss: 236994.9219 - rmse: 236994.9219
Epoch 40/100
115/115 [==============================] - 0s 2ms/step - loss: 236131.2656 - rmse: 236131.2656
Epoch 41/100
115/115 [==============================] - 0s 2ms/step - loss: 237647.3438 - rmse: 237647.3438
Epoch 42/100
115/115 [==============================] - 0s 2ms/step - loss: 233102.2500 - rmse: 233102.2500
Epoch 43/100
115/115 [==============================] - 0s 2ms/step - loss: 235279.2656 - rmse: 235279.2656
Epoch 44/100
115/115 [==============================] - 0s 2ms/step - loss: 234040.6562 - rmse: 234040.6562
Epoch 45/100
115/115 [==============================] - 0s 2ms/step - loss: 232806.4219 - rmse: 232806.4219
Epoch 46/100
115/115 [==============================] - 0s 2ms/step - loss: 234950.3438 - rmse: 234950.3438
Epoch 47/100
115/115 [==============================] - 0s 2ms/step - loss: 234574.0938 - rmse: 234574.0938
Epoch 48/100
115/115 [==============================] - 0s 2ms/step - loss: 233513.7969 - rmse: 233513.7969
Epoch 49/100
115/115 [==============================] - 0s 2ms/step - loss: 232200.4219 - rmse: 232200.4219
Epoch 50/100
115/115 [==============================] - 0s 2ms/step - loss: 233039.3750 - rmse: 233039.3750
Epoch 51/100
115/115 [==============================] - 0s 2ms/step - loss: 233513.0156 - rmse: 233513.0156
Epoch 52/100
115/115 [==============================] - 0s 2ms/step - loss: 233849.6406 - rmse: 233849.6406
Epoch 53/100
115/115 [==============================] - 0s 2ms/step - loss: 232820.1094 - rmse: 232820.1094
Epoch 54/100
115/115 [==============================] - 0s 2ms/step - loss: 232648.0938 - rmse: 232648.0938
Epoch 55/100
115/115 [==============================] - 0s 2ms/step - loss: 233704.2031 - rmse: 233704.2031
Epoch 56/100
115/115 [==============================] - 0s 2ms/step - loss: 232680.3594 - rmse: 232680.3594
Epoch 57/100
115/115 [==============================] - 0s 2ms/step - loss: 232567.1719 - rmse: 232567.1719
Epoch 58/100
115/115 [==============================] - 0s 2ms/step - loss: 232086.6250 - rmse: 232086.6250
Epoch 59/100
115/115 [==============================] - 0s 2ms/step - loss: 230777.8594 - rmse: 230777.8594
Epoch 60/100
115/115 [==============================] - 0s 2ms/step - loss: 231835.3906 - rmse: 231835.3906
Epoch 61/100
115/115 [==============================] - 0s 2ms/step - loss: 230951.2500 - rmse: 230951.2500
Epoch 62/100
115/115 [==============================] - 0s 2ms/step - loss: 231321.1250 - rmse: 231321.1250
Epoch 63/100
115/115 [==============================] - 0s 2ms/step - loss: 231198.6250 - rmse: 231198.6250
Epoch 64/100
115/115 [==============================] - 0s 2ms/step - loss: 232849.9688 - rmse: 232849.9688
Epoch 65/100
115/115 [==============================] - 0s 2ms/step - loss: 229936.5625 - rmse: 229936.5625
Epoch 66/100
115/115 [==============================] - 0s 2ms/step - loss: 232034.7812 - rmse: 232034.7812
Epoch 67/100
115/115 [==============================] - 0s 2ms/step - loss: 232409.7812 - rmse: 232409.7812
Epoch 68/100
115/115 [==============================] - 0s 2ms/step - loss: 229381.7188 - rmse: 229381.7188
Epoch 69/100
115/115 [==============================] - 0s 3ms/step - loss: 232626.5000 - rmse: 232626.5000
Epoch 70/100
115/115 [==============================] - 0s 3ms/step - loss: 231210.2188 - rmse: 231210.2188
Epoch 71/100
115/115 [==============================] - 0s 3ms/step - loss: 230603.2500 - rmse: 230603.2500
Epoch 72/100
115/115 [==============================] - 0s 3ms/step - loss: 231162.3750 - rmse: 231162.3750
Epoch 73/100
115/115 [==============================] - 0s 3ms/step - loss: 230322.4375 - rmse: 230322.4375
Epoch 74/100
115/115 [==============================] - 0s 3ms/step - loss: 230695.9375 - rmse: 230695.9375
Epoch 75/100
115/115 [==============================] - 0s 3ms/step - loss: 230705.5000 - rmse: 230705.5000
Epoch 76/100
115/115 [==============================] - 0s 3ms/step - loss: 228832.4375 - rmse: 228832.4375
Epoch 77/100
115/115 [==============================] - 0s 3ms/step - loss: 229564.4375 - rmse: 229564.4375
Epoch 78/100
115/115 [==============================] - 0s 2ms/step - loss: 230741.6250 - rmse: 230741.6250
Epoch 79/100
115/115 [==============================] - 0s 2ms/step - loss: 230156.7188 - rmse: 230156.7188
Epoch 80/100
115/115 [==============================] - 0s 2ms/step - loss: 230122.1719 - rmse: 230122.1719
Epoch 81/100
115/115 [==============================] - 0s 2ms/step - loss: 229516.0469 - rmse: 229516.0469
Epoch 82/100
115/115 [==============================] - 0s 2ms/step - loss: 229622.1875 - rmse: 229622.1875
Epoch 83/100
115/115 [==============================] - 0s 2ms/step - loss: 229688.1250 - rmse: 229688.1250
Epoch 84/100
115/115 [==============================] - 0s 4ms/step - loss: 230519.5625 - rmse: 230519.5625
Epoch 85/100
115/115 [==============================] - 0s 3ms/step - loss: 229221.2969 - rmse: 229221.2969
Epoch 86/100
115/115 [==============================] - 0s 2ms/step - loss: 228621.7500 - rmse: 228621.7500
Epoch 87/100
115/115 [==============================] - 0s 4ms/step - loss: 228101.3438 - rmse: 228101.3438
Epoch 88/100
115/115 [==============================] - 0s 3ms/step - loss: 230446.8906 - rmse: 230446.8906
Epoch 89/100
115/115 [==============================] - 0s 2ms/step - loss: 229000.9062 - rmse: 229000.9062
Epoch 90/100
115/115 [==============================] - 1s 4ms/step - loss: 229609.1406 - rmse: 229609.1406
Epoch 91/100
115/115 [==============================] - 0s 3ms/step - loss: 228335.3750 - rmse: 228335.3750
Epoch 92/100
115/115 [==============================] - 0s 2ms/step - loss: 225926.5938 - rmse: 225926.5938
Epoch 93/100
115/115 [==============================] - 0s 2ms/step - loss: 227937.2344 - rmse: 227937.2344
Epoch 94/100
115/115 [==============================] - 0s 2ms/step - loss: 228468.1406 - rmse: 228468.1406
Epoch 95/100
115/115 [==============================] - 0s 2ms/step - loss: 228489.8750 - rmse: 228489.8750
Epoch 96/100
115/115 [==============================] - 1s 4ms/step - loss: 227086.9844 - rmse: 227086.9844
Epoch 97/100
115/115 [==============================] - 0s 3ms/step - loss: 227890.2812 - rmse: 227890.2812
Epoch 98/100
115/115 [==============================] - 0s 2ms/step - loss: 227162.4688 - rmse: 227162.4688
Epoch 99/100
115/115 [==============================] - 1s 5ms/step - loss: 227613.8438 - rmse: 227613.8438
Epoch 100/100
115/115 [==============================] - 0s 3ms/step - loss: 227798.8750 - rmse: 227798.8750

In [ ]:
predictions=model.predict(X_test_tf_2A)

In [ ]:
predictions[:5]

array([[ 319182.3 ],
       [ 352194.88],
       [1264410.1 ],
       [ 510887.6 ],
       [ 374565.66]], dtype=float32)

In [ ]:
predictions_1A=np.ravel(predictions)
predictions_1A[0:5]

array([ 319182.3 ,  352194.88, 1264410.1 ,  510887.6 ,  374565.66],
      dtype=float32)

In [ ]:
rmse(Y_test,predictions_1A).numpy()

992082.102661593