<a href="https://colab.research.google.com/github/Sohitga014/econometrics-data-/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.72-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.2 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 27.4 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.9.1 requests-2.28.1 yfinance-0.1.72

In [2]:
import yfinance as yf

In [3]:
NIFTY=yf.Ticker('^NSEI')

import 5 years NIFTY data ,daily basis

In [7]:
NIFTY.history(period='5y',auto_adjust="True")['Close']

Date
2017-07-03     9615.000000
2017-07-04     9613.299805
2017-07-05     9637.599609
2017-07-06     9674.549805
2017-07-07     9665.799805
                  ...
2022-06-27    15832.049805
2022-06-28    15850.200195
2022-06-29    15799.099609
2022-06-30    15780.250000
2022-07-01    15752.049805
Name: Close, Length: 1233, dtype: float64

In [9]:
NIFTY_d=NIFTY.history(period='5y',auto_adjust="True")['Close']

In [10]:
NIFTY_d

Date
2017-07-03     9615.000000
2017-07-04     9613.299805
2017-07-05     9637.599609
2017-07-06     9674.549805
2017-07-07     9665.799805
                  ...
2022-06-27    15832.049805
2022-06-28    15850.200195
2022-06-29    15799.099609
2022-06-30    15780.250000
2022-07-01    15752.049805
Name: Close, Length: 1233, dtype: float64

In [11]:
NIFTY_m=NIFTY_d.resample('1M').last()

In [12]:
NIFTY_m

Date
2017-07-31    10077.099609
2017-08-31     9917.900391
2017-09-30     9788.599609
2017-10-31    10335.299805
2017-11-30    10226.549805
                  ...
2022-03-31    17464.750000
2022-04-30    17102.550781
2022-05-31    16584.550781
2022-06-30    15780.250000
2022-07-31    15752.049805
Freq: M, Name: Close, Length: 61, dtype: float64

In [16]:
NIFTY_mr=NIFTY_m.pct_change().dropna()

In [17]:
NIFTY_mr

Date
2017-08-31   -0.015798
2017-09-30   -0.013037
2017-10-31    0.055851
2017-11-30   -0.010522
2017-12-31    0.029741
2018-01-31    0.047195
2018-02-28   -0.048501
2018-03-31   -0.036134
2018-04-30    0.061862
2018-05-31   -0.000298
2018-06-30   -0.002035
2018-07-31    0.059939
2018-08-31    0.028530
2018-09-30   -0.064214
2018-10-31   -0.049756
2018-11-30    0.047191
2018-12-31   -0.001306
2019-01-31   -0.002909
2019-02-28   -0.003550
2019-03-31    0.072041
2019-04-30    0.015398
2019-05-31    0.014866
2019-06-30   -0.011235
2019-07-31   -0.056905
2019-08-31   -0.008522
2019-09-30    0.040932
2019-10-31    0.035122
2019-11-30    0.015037
2019-12-31    0.009323
2020-01-31   -0.016958
2020-02-29   -0.063563
2020-03-31   -0.232464
2020-04-30    0.146800
2020-05-31   -0.028357
2020-06-30    0.075342
2020-07-31    0.074873
2020-08-31    0.028361
2020-09-30   -0.012290
2020-10-31    0.035105
2020-11-30    0.113941
2020-12-31    0.078094
2021-01-31   -0.024829
2021-02-28    0.065609
2021-03-31    0.011119
2021-04-30   -0.004057
2021-05-31    0.065046
2021-06-30    0.008901
2021-07-31    0.002643
2021-08-31    0.086858
2021-09-30    0.028365
2021-10-31    0.003037
2021-11-30   -0.038958
2021-12-31    0.021836
2022-01-31   -0.000818
2022-02-28   -0.031485
2022-03-31    0.039946
2022-04-30   -0.020739
2022-05-31   -0.030288
2022-06-30   -0.048497
2022-07-31   -0.001787
Freq: M, Name: Close, dtype: float64

In [19]:
! pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.72)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)

In [21]:
import yfinance as yf

In [22]:
NIFTY=yf.Ticker('^NSEI')

In [23]:
KOTAKBANK=yf.Ticker('KOTAKBANK.NS')

In [26]:
NIFTY_d=NIFTY.history(period='10y',auto_adujust="True)")['Close']
KOTAKBANK_d=KOTAKBANK.history(period='10y',auto_adujust="True)")['Close']

In [27]:
NIFTY_m=NIFTY_d.resample('1M').last()
KOTAKBANK_m=KOTAKBANK_d.resample('1M').last()

In [28]:
NIFTY_mr=NIFTY_m.pct_change().dropna()
KOTAKBANK_mr=KOTAKBANK_m.pct_change().dropna()

In [29]:
import pandas as pd

In [30]:
pd.merge(NIFTY_mr,KOTAKBANK_mr,on='Date')

             Close_x   Close_y
Date
2012-08-31  0.005642  0.071582
2012-09-30  0.084587  0.130030
2012-10-31 -0.014658 -0.069364
2012-11-30  0.046292  0.110476
2012-12-31  0.004294 -0.030427
...              ...       ...
2022-03-31  0.039946 -0.048243
2022-04-30 -0.020739  0.021039
2022-05-31 -0.030288  0.031328
2022-06-30 -0.048497 -0.100577
2022-07-31 -0.001787  0.004003

[120 rows x 2 columns]

In [ ]:
NK_dt